* {
  overflow-x: hidden;
}
.conference-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.img {
  display: flex;
}
.conference-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 4px;
}

.conference-card img {
  max-width: 50%;
  height: auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.filter {
  margin: auto;
}
@media only screen and (max-width: 968px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header h1,
  h2 {
    text-align: center;
    margin: auto;
  }
}
